.body1{
    padding: 3%;
}

.masks{
    background-color: blueviolet;
    opacity: 20%;
}
.box1{
max-height: 200px;
max-width: auto;
text-align: center;

}
.box2{
background-color: lightblue;
padding: 8%;
text-align: center;
}

.box3{
 background-color: lightgoldenrodyellow;
 padding: 8%;
 text-align: center;

}

.box4{
    background-color: orchid;
    padding: 8%;
    text-align: center;
}