*{font-family: 'Verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.cart{
padding:5%;
}

.btns{
    margin: 1%;
    padding: 3%;
}

.message{
    padding: 30%;
}