*{
    font-family: 'Verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.carousel-inner{
    height: 360px;
    object-fit: fill;
}
.carousel-caption{
    padding-bottom: 48%;
    color: aquamarine;
}
#section1{
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
}

.paragraph{
    
    padding-left: 13%;
    padding-right: 13%;
}
.containers{
    text-align: center;
}

#section2{
    background-color: #D6F9DD;
}

.imgs{
float: right;

}

.footer{
    background-color: #9B9D9A;
    color: snow;
}

.lego{
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    
}

.my_button{
    background-color: seagreen; 
    opacity: .6;
    color: black;
}
.my_button:hover{
    background-color: seagreen; 
    opacity: 1;
    color:snow;
}

.section3{
    padding-top: 1%;
    
}

.section3 h2{
text-align: center;
}
.section3 h5 {
    padding-left: 2%;
    text-align: left;
}

.section3 p{
    padding-left: 2%;
    padding-right: 3%;
    display: inline-block;
    text-align: left;
}