.carousel-inner{
    height: 425px;
    object-fit: fill;
}
#section1{
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
}

.paragraph{
    padding-left: 13%;
    padding-right: 13%;
}
div.container{
    text-align: center;
}
.ul{
    padding-left: 17%;
    padding-right: 17%;
   
    list-style-type:decimal;
    display: inline-block;
    text-align: left;
}