.card-style{
    text-align: center;
}

.buy{
   padding: 1%; 
}


.imgs{
 
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
    background-color: #d2f6ea;
 }
 .colors{
     background-color: #d2f6ea;
 }